<section class="hero">
    <div class="hero-content fade-in">
        <h1>Technology Meets Conservation</h1>
        <p class="hero-subtitle">Empowering wildlife conservation with AI, Drones, and Semi-autonomous Robotics.
            Because every species deserves a thriving future.</p>

        <div class="cta-buttons" style="margin-top: 0rem;">
            <a href="#collaborate" class="btn btn-primary">Join the Movement</a>
            <a href="#technology" class="btn btn-secondary">Our Technologies</a>
        </div>
    </div>
    <div class="scroll-indicator">
        <span></span>
    </div>
</section>